<footer class="footer text-center pt-gap"><img src="{{theme.link}}/images/loga.png" alt="Logos of UCPH and European research concil"/>
  <p class="mt-1"><small>This project has received funding from the European Research Council (ERC) under the European Union’s Horizon 2020 research and innovation programme (grant agreement No 803163) and is hosted by the University of Copenhagen.</small></p>
</footer>
{# Copyright {{"now"|date('Y')}} #}