{% extends "base.twig" %}
{%  block body %}
	<body class="about">
{% endblock %}
	 
{% block content %}
	<main class="main">
	  <article id="content">
	  	{{ post.content }}
	  	<div class="hashtags">
	  		kategorie<br>
	  		hashtagy
	  	</div>
	  </article>
	</main>
{% endblock %}


