html, body
	text-rendering: optimizeLegibility
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale


*
	box-sizing: border-box
h1,h2,h3,h4,h5
	font-family: MunkenSansWeb-Regular

.text-right
	text-align: right
.d-block
	display: block

.p-0
	padding: 0
.m-0
	margin: 0

a
	color: black
	text-decoration: none
	&:hover
		text-decoration: underline
