@import "imports.sass"
@include font('RobotoMono-Regular', '/imagine/fonts/RobotoMono/', '.ttf');
@include font('MunkenSansWeb-Regular', '/imagine/fonts/MunkenSans/', '.woff');
@include font('MunkenSansWeb-Bold', '/imagine/fonts/MunkenSans/', '.woff');
// @include font('Roboto_Mono', 'https://tikvik.github.io/rcnkskweb/dist/fonts/')

html,body
	font-size: $font-size
	@include for-size(lg)
		font-size: 
	font-family: RobotoMono-Regular

h1,h2,h3,h4,h5,.perex,.nav-link
	font-family: MunkenSansWeb-Bold
	line-height: 1
	font-weight: bold
header
	padding-top: $gap*2

h1,.title
	font-size: $title-font-size
h2.subtitle
	font-size: $subtitle-font-size
	padding: $gap 0 $gap*1.7 0
	font-weight: bold
h3,.perex
	font-size: $perex-font-size




.nav_menu
	.navbar-nav
		padding: $gap*3 0 $gap*3 0
		margin: 0
		.nav-item
			position: relative
			display: inline-block
			@extend h2
			text-transform: uppercase
			font-size: $navitem-font-size
			padding: $gap/2 $gap $gap/2 $gap
			.nav-link
				&::after 
					content: ""
					position: absolute
					bottom: 0px
					left: 0px
					width: 0%
					height: $underline-size
					background: black
					// transition: all 0.3s ease
				&:hover
					&::after 
						width: 100%
						background-color: black


main	
	max-width: $wrap-width
	@include for-size(xl)
		max-width: 1500px
	margin-left: auto
	margin-right: auto
	padding-left: $wrap-space
	padding-right: $wrap-space
	article
		font-size: 1.5rem
		text-align: left
		padding-bottom: $gap*2
		display: inline-block
		h2
			font-size: $navitem-font-size
			margin-bottom: $gap/5
			line-height: normal

		.post-anot
			float: left
			width: 20%
		.post-content
			width: 80%
			float: left

	.hashtags
		nav.nav_menu
			ul.navbar-nav
				padding-top: 0
				.nav-item
					padding: $gap/4 $gap/2 $gap/4 0
					text-transform: none
					line-height: 1
				span
					font-family: MunkenSansWeb-Bold



footer
	@extend main
	img
		height: $gap*5




