$gap: 2vh
$black: black
$gray: gray
$white: white
$pcolor: white
$underline: 2px

$font-size: 1.5vh
$font-size-sm: 9pt
$wrap-width: 1100px
$wrap-space: $gap

$title-font-size: 5rem
$h2-font-size: 3rem
$perex-font-size: 1.71rem

$navitem-font-size: 1.25rem

$underline-size: 5px