article.post.pb-gap
	header
		h1.mt-0.mb-0
			a.negative-gap(href="single"+ index +".html").underline !{proj.project[0].title}
		h2.mt-0 !{proj.project[0].function}
	section.p-0
		p.mt-0 !{proj.project[0].text}
	footer.p-0
		if proj.project[0].image
			img.img-fluid(src=proj.project[0].image)
