extends layout.pug
//- block body
//- 	body
block content
	main#content
		each proj, index in projects 
			article
				h2.category.mt-0 !{proj.project[0].category} <br>!{proj.project[0].date}
				section
					header
						h2.mt-0.p-relative
							a(href="single"+ index +".html").underline !{proj.project[0].title}
					section.p-0
						p !{proj.project[0].text}
					footer.p-0
						a(href="single"+ index +".html").nav-item.d-inline.btn
							h2.d-inline &#62;	
		


