extends layout.pug
//- block body
//- 	body
block content
	main
		article
			.post-anot
				h2.m-0.upper-case Working paper<br>1_12_2020
			.post-content
				h2.mt-0 Why read The Transformation of Europe today? On the limits of a liberal				constitutional imaginary by Jan Komárek
				p This article argues that reading Transformation today may help us understand the limits of liberal constitutional imaginary, on which Transformation builds and which it helped to establish in the 1990s. Now, when ‘Western liberalism’ is on retreat, such critical reading may be indispensable for those who look for alternatives.<br>
				a(href="#").nav-item
					h2 &#62;	 
		article
			.post-anot
				h2.m-0.upper-case Working paper<br>1_12_2020
			.post-content
				h2.mt-0 Why read The Transformation of Europe today? On the limits of a liberal				constitutional imaginary by Jan Komárek
				p This article argues that reading Transformation today may help us understand the limits of liberal constitutional imaginary, on which Transformation builds and which it helped to establish in the 1990s. Now, when ‘Western liberalism’ is on retreat, such critical reading may be indispensable for those who look for alternatives.

