extends layout.pug
block body
	body.index
block content
	main#content
		each proj, index in projects 
			article
				h2.category.mt-0
					a(href="#").underline.p-relative.negative-gap !{proj.project[0].category}<br> !{proj.project[0].date}
				section
					header
						h2.mt-0.p-relative
							a(href="single"+ index +".html").negative-gap !{proj.project[0].title}
					section.p-0
						p !{proj.project[0].text}
					footer.p-0
						h2.mt-0.p-relative
							a(href="single"+ index +".html").negative-gap &#62;

		


