
<!DOCTYPE html>
html(lang="cs")
	head
		meta(charset='UTF-8')
		//- meta(name="viewport" content="initial-scale=.6, maximum-scale=1, minimum-scale=.7, user-scalable=0")
		meta(name="viewport" content="initial-scale=1, user-scalable=1")
		meta(name="description" content="Constitutional law")
		title
			block title
				| #{site.title}
		link(rel='stylesheet' href='css/style.css')
		//- link(rel="stylesheet", href="slick/slick.css")
		//- link(rel="stylesheet", href="slick/slick-theme.css")
		//- link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
	
	block body
	body
		include partials/navbar.pug
		block content
	block footer
		footer.text-center
			img(src="images/loga.png",alt="Logos of UCPH and European research concil")
			p.mt-1 This project has received funding from the European Research Council (ERC) under the European Union’s Horizon 2020 research and innovation programme (grant agreement No 803163) and is hosted by the University of Copenhagen.